<h2>About Us</h2>
<div>
    <p><strong>What is compost?</strong></p>
    <p>
         Simply put, compost is the end product of decomposition. Organic materials, fruit and vegetables scraps, leaves, grass clippings, twigs, coffee grinds, etc., break down (thanks to the help of micro-organisms, oxygen, and water) into dark, loose crumbly material that resembles rich soil.
    </p>
</div>
<br />
<div>
    <p><strong>Why should you compost?</strong></p>
    <p>
         If you live in Seattle, you could be fined for not separating your food waste from regular waste. Food isn't garbage and it belongs in the green bin.
         <p>When food scraps end up in the garbage they:</p>
    <ul> 
        <li>Create methane, a powerful greenhouse gas that adds to global warming.</li>
        <li> Use up a lot of landfill space. Space is limited, and creating more landfills is undesirable. In the landfill, buried under layers of waste and without access
to oxygen, food can't decompose properly.</li>
        <li> Waste all the resources (energy, water, etc.) that went into producing the food. </li>
        <li>Waste opportunities to create new soil and promote more food production </li>
    </ul>
    </p>
</div>
<br />
<div>
    <p><strong>What kind of food scraps can I put in my worm bin?</strong></p>
    <ul>
        <li>Vegetable and Fruit Peels</li>
        <li>Pizza, Egg shells, coffee grinds and filters</li>
        <li>Rotten fruits and vegetables</li>
        <li>Food soiled paper</li>
        <li>Pizza boxes, cardboard, brown paper bags</li>
    </ul>
</div>
<br />
<div>
    <p><strong>What should I NOT put in my worm bin?</strong></p>
    <ul>
        <li>Meat and Fish</li>
        <li>Citrus such as oranges and lemons</li>
        <li>Oil or greasy paper</li>
    </ul>
</div>
<br />
<div>
    <p><strong>What can you do with your compost?</strong></p>
    <p>
        You can add it to your plants in the garden. Compost offers many benefits.  It is best known for providing plants with much needed nitrogen, phosphorus, potassium and a host of other micronutrients such as calcium and magnesium.  In addition, compost provides increased water retention, improved air circulation, protection against diseases and pests, and moderates soil pH (which makes nutrients in the soil more readily available to the plants.) 
    </p>
</div>
