<div class="container">

    <h1>Add Composter</h1>

    <form ng-submit="controller.saveComposter()">
        <div class="form-group">
            <label class="sr-only">Composter Name:</label>
            <input type="text" placeholder="composter name" ng-model="controller.composterToSave.name" />
        </div>
        <div class="form-group">
            <label class="sr-only">Website:</label>
            <input type="text" placeholder="website url" ng-model="controller.composterToSave.website" />
        </div>
        <div>
            <input class="btn btn-primary" type="submit" value="Save Composter" />
            <input class="btn btn-default" type="button" ng-click="controller.cancel()" value="Cancel" />
        </div>
    </form>
</div>
