<h3>Products Sold by <a href="/composters">{{controller.composter.name}}</a></h3>

<ul>
    <li ng-repeat="product in controller.products">
        <a href="/products/detail/{{product.id}}">{{product.name}}</a>
    </li>
</ul>

<form ng-submit="controller.saveProduct()">
    <div>
        <label>Product Name</label>
        <input ng-model="controller.productToSave.name" />
        <input type="submit" value="Save Product" />
        <input type="button" ng-click="controller.cancel()" value="Cancel" />
    </div>
</form>

