<h3>Edit Composter</h3>
<form>
    <div class="form-group">
        <label class="sr-only">Name</label>
        <input type="text" ng-model="controller.composter.name" />
    </div>
    <div class="form-group">
        <label class="sr-only">Website</label>
        <input type="text" ng-model="controller.composter.website" />
    </div>
    <button class="btn btn-primary" ng-click="controller.saveComposter()">
        <span class="glyphicon glyphicon-plus-sign"></span> Save
    </button>

    <button class="btn btn-default" ng-click="controller.cancel()">
        <span class="glyphicon glyphicon-remove-sign"> </span> Cancel
    </button>
    
</form>