<h2>Home</h2>

<!--<button ng-click="controller.pickFile()">Upload</button>
<img ng-src="{{controller.file.url | fpConvert:{w: 400} }}" alt="{{controller.file.filename}}" />

<a href="{{controller.file.url}}"></a>-->

<div class="row">
    <div class="col-md-3">
        <img ng-src="https://www.filestackapi.com/api/file/tvRjSlfSPCzPphD7lYYz" width="250" height="200" />
    </div>
    <div class="col-md-3">
        <img ng-src="https://www.filestackapi.com/api/file/Wg8PhMkvR6m2M9hMrmC5" width="250" height="200" />
    </div>
    <div class="col-md-3">
        <img ng-src="https://www.filestackapi.com/api/file/UvYkawhSiCI58iRvH6SW" width="250" height="200" />
    </div>
    <div class="col-md-3">
        <img ng-src="https://www.filestackapi.com/api/file/aSg8vXY7R4uLoRj6EKNs" width="250" height="200" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        <img ng-src="https://www.filestackapi.com/api/file/Up1EPERCutozjnfjx4JQ" width="250" height="200" />
    </div>
    <div class="col-md-3">
        <img ng-src="https://www.filestackapi.com/api/file/UMLlffbRpK8pm55TZdPr" width="250" height="200" />
    </div>
    <div class="col-md-3">
        <img ng-src="https://www.filestackapi.com/api/file/3QidCzaGTxatCbQ3vjte" width="250" height="200" />
    </div>
    <div class="col-md-3">
        <img ng-src="https://www.filestackapi.com/api/file/qes8mGlOQOiJNU8jSiZU" width="250" height="200" />
    </div>
    
</div>





