<fieldset>
    <legend>Login with a Social Provider</legend>

    <ul>
        <li ng-repeat="externalLogin in account.externalLogins">
            <a target="_self" href="/api/account/ExternalLogin?provider={{externalLogin.authenticationScheme}}&returnUrl=/">{{externalLogin.displayName}}</a>
        </li>
    </ul>

</fieldset>

<fieldset>
    <legend>Login Locally</legend>
    <ul>
        <li ng-repeat="error in controller.validationMessages">
            {{error}}
        </li>
    </ul>

    <form ng-submit="controller.login()">
        <div class="form-group">
            <label class="sr-only">Email:</label>
            <input placeholder="enter email here" ng-model="controller.loginUser.email" />
        </div>
        <div class="form-group">
            <label class="sr-only">Password:</label>
            <input placeholder="enter password" ng-model="controller.loginUser.password" />
        </div>
        <div>
            <input class="btn btn-primary" type="submit" value="Login" />
            <a href="/register">Register</a>
        </div>
        
    </form>
</fieldset>
